<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Builder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h2>AI Resume Builder</h2>

    <div>
        <a href="#">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</nav>

<div class="hero">

<h1>Create Your Professional Resume</h1>

<p>
Build ATS-Friendly resumes in just a few minutes.
</p>

<a href="/signup">
        <button>Get Started</button>
</a>

<a href="/login">
    <button>Login</button>
</a>


</div>
<div class="features">
    <div class="card">
        <h3>Easy Resume Builder</h3>
        <p>Create your resume in minutes.</p>
    </div>

    <div class="card">
        <h3>Download PDF</h3>
        <p>Download your resume as a PDF.</p>
    </div>

    <div class="card">
        <h3>Secure Data</h3>
        <p>Your resume information is stored safely.</p>
    </div>
</div>
<footer>
    <p>© 2026 AI Resume Builder | Developed by Tina Garg</p>
</footer>

</body>
</html>