<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Builder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h2>AI Resume Builder</h2>

    <div>
        <a href="#">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</nav>

<section class="hero">

<h1>Create Your Professional Resume</h1>

<p>
Build ATS-Friendly resumes in just a few minutes.
</p>

<button>Get Started</button>

</section>

</body>
</html>